{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block content %}
    <div class="input-form-parent bg-light border rounded-3">
        <h1>Create account</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        <form action="." method="post">
            <p>Please fill up the form:</p>
        
            {{ user_form | crispy}}
            {% csrf_token %}
            <p></p>
            <p><input type="submit" value="Create account"></p>
        </form>
    </div>
    
{% endblock %}