{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block title %}Dodaj nowe wyszukiwanie{% endblock %}

{% block content %}

    <div class="pad-left-res bg-light border rounded-3">
        <h1>Dodaj nowe wyszukiwanie</h1>
    </div>
    <p></p>
    <div class="pad-left-res bg-light border rounded-3">

    <p>Uzupełnij poniższy formularz:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ searchSet_form | crispy }}
        {% csrf_token %}
        <p></p>
        <p><input type="submit" value="Zapisz zmiany"></p>
    </form>
{% endblock %}