{% extends "olxSearch/base.html" %}
{%load crispy_forms_tags %}
{% block title %}Logowanie{% endblock %}

{% block content %}
    
    <div class="input-form-parent bg-light border rounded-3 ">
        <h1>Login</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
    
        <div class="input-form">
        {% if form.errors %}
            <p>The username or password is incorrect. Check again.</p>
        {% else %}
            <p>Please complete the form below to login:</p>
        {% endif %}
    
            <form class="" action="{% url 'login' %}" method="post">
                <p><a href="{% url "password_reset" %}">Have you forgotten your password</a></p>
                {{ form|crispy }}
                {% csrf_token %}
                
                <input type="hidden" name="next" value="{{ next }}" />
                <p></p>
                <p><input type="submit" value="Login"></p>
            </form>
        </div>
    </div>
    
{% endblock %}