{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="input-form-parent bg-light border rounded-3">
        <h1>Password reset</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        <form action="." method="post">
        <p>Please enter your email address to define a new password.</p>
            {{ form | crispy }}
            <p></p>
            <p><input type="submit" value="Send e-mail"></p>
            {% csrf_token %}
        </form>
    </div>
    
{% endblock %}