{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <div class="input-form-parent bg-light border rounded-3">
        <h1>Password reset</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        {% if validlink %}
        <form action="." method="post">
            <p>New password:</p>
                {{ form | crispy }}
                {% csrf_token %}
                <p></p>
                <p><input type="submit" value="Save" /></p>
            </form>
        {% else %}
            <p>The link to reset your password is invalid because it has probably been used before. You must start the password reset procedure again.</p>
        {% endif %}
    </div>
    
{% endblock %}