{% extends "olxSearch/base.html" %}
{%load crispy_forms_tags %}
{% block title %}Change password{% endblock %}
{% block content %}

    <div class="input-form-parent bg-light border rounded-3">
        <h1>Change password</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        <form action="." method="post">
            <p>Please complete the form below to change your password:</p>
            {{ form | crispy }}
            <p></p>
            <p><input type="submit" value="Save"></p>
            {% csrf_token %}
        </form>
    </div>
    
{% endblock %}