{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block content %}

    <div class="input-form-parent bg-light border rounded-3">
        <h1>Edit profile</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        <form action="." method="post" enctype="multipart/form-data">
            {{ user_form | crispy }}
            {{ profile_form | crispy }}
            {% csrf_token %}
            <p></p>
            <p><input type="submit" value="Zapisz zmiany"></p>
        </form>
    </div>
    
{% endblock %}