{% extends 'olxSearch/base.html' %}

{% load static %}

{% block content %}

    {% if allRealEstates and allRealEstates.count > 0 %}
    {% for row in allRealEstates %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card md-2 rounded-3 shadow">
                    {% if row.link != "0" %}
                        <a href="{{ row.link }}" class="">
                    {% endif %}
                        <img class="rounded-3" src="{{ row.pic }}" width="100%">
                        </a>
                        <div class="card-body">
                        <h4 class="card-title">{{ row.title }}</h4>
                        <ul class="card-text">

                        <li>Miasto: {{ row.city }} zł</li>
                        <li>Rodzaj nieruchomości: {{ row.category }} zł</li>
                        <li>Cena: {{ row.price }} zł</li>
                        <li>Data publikacji: {{ row.date_published }}</li>
                        <li>Powierzchnia: {{ row.area }} m2</li>
                        <li>Pokoje: {{ row.rooms }}</li>
                        <li>Id: {{ row.advId }}</li>
                    
                        
                        </ul>

                    </div>
                </div>
                <p></p>
            </div>
        {% endfor %}
    {% endif%}

{% endblock %}