{% extends "olxSearch/base.html" %}

{% block title %}Searches list{% endblock %}

{% block content %}

    <div class="input-form-parent bg-light border rounded-3">
        <h1>Searches list</h1>
    </div>
    <p></p>
    <div class="input-form-parent bg-light border rounded-3">
        <p></p>
        <div class="container text-center">
            <div class="row justify-content-md">
                <div class="col">Title</div>
                <div class="col">City</div>
                <div class="col">Category</div>
                <div class="col">Rooms</div>
                <div class="col">Max.<br> price/m2</div>
                <div class="col">Squers</div>
                <div class="col"><a href="{% url "searchingSettingsNew" %}">Add new</a></div>
            </div>
        </div>
    </div>

    <div class="pad-left-res bg-light border rounded-3">
        <div class="container text-center">
            <hr>
            {% for row in searchingSettingsList %}
            
            <div class="row justify-content-md-center">
                <div class="col">
                    {{ row.title }}
                </div>
                <div class="col">
                    {{ row.city }}
                </div>
                <div class="col">
                    {{ row.category }}
                </div>
                <div class="col">
                    {% if row.rooms is not 0 %}
                        {{ row.rooms }}
                    {% else %}
                        nie dotyczy
                    {% endif %}

                </div>
                <div class="col">
                    {{ row.price }}
                </div>
                <div class="col">
                    {{ row.area }}
                </div>
                <div class="col">
                    <a href="{% url "searchingSettingsEdit" row.id %}">Edit</a><br>
                    <a href="{% url "searchingSettingsDelete" row.id %}">Delete</a>
                </div>
            </div>
            
            <hr>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}