<tr>
    <th><label for="id_title">Title:</label></th>
    <td>

      <input type="text" name="title" value="nowe 2" maxlength="100" required id="id_title">


    </td>
  </tr>

  <tr>
    <th><label for="id_price">Price:</label></th>
    <td>

      <input type="number" name="price" value="1" required id="id_price">


    </td>
  </tr>

  <tr>
    <th><label for="id_area">Area:</label></th>
    <td>

      <input type="number" name="area" value="1" required id="id_area">


    </td>
  </tr>

  <tr>
    <th><label for="id_category">Category:</label></th>
    <td>

      <select name="category" id="id_category">
  <option value="mieszkania" selected>Mieszkania</option>

  <option value="działki">Dziłki</option>

  <option value="domy">Domy</option>

</select>


    </td>
  </tr>

  <tr>
    <th><label for="id_rooms">Rooms:</label></th>
    <td>

      <input type="number" name="rooms" value="1" id="id_rooms">


    </td>
  </tr>

  <tr>
    <th><label for="id_date_created">Date created:</label></th>
    <td>

      <input type="text" name="date_created" value="01.12.2022 18:01:14" required id="id_date_created">
      <input type="hidden" name="initial-date_created" value="2022-12-01 18:01:14" id="initial-id_date_created">


    </td>
  </tr>

  <tr>
    <th><label for="id_user">User:</label></th>
    <td>

      <select name="user" required id="id_user">
  <option value="">---------</option>

  <option value="1">admin</option>

  <option value="2" selected>Mario</option>

  <option value="3">MrMario108</option>

</select>




    </td>
  </tr>
[01/Dec/2022 18:01:30] "GET /olxSearch/searchingSettingsEdit/17/ HTTP/1.1" 200 11144
Not Found: /olxSearch/static/olxSearch/headers.css
[01/Dec/2022 18:01:30] "GET /olxSearch/static/olxSearch/headers.css HTTP/1.1" 404 5833
<tr>
    <th><label for="id_title">Title:</label></th>
    <td>

      <input type="text" name="title" value="nowe 2" maxlength="100" required id="id_title">


    </td>
  </tr>

  <tr>
    <th><label for="id_price">Price:</label></th>
    <td>

      <input type="number" name="price" value="1" required id="id_price">


    </td>
  </tr>

  <tr>
    <th><label for="id_area">Area:</label></th>
    <td>

      <input type="number" name="area" value="1" required id="id_area">


    </td>
  </tr>

  <tr>
    <th><label for="id_category">Category:</label></th>
    <td>

      <select name="category" id="id_category">
  <option value="mieszkania" selected>Mieszkania</option>

  <option value="działki">Dziłki</option>

  <option value="domy">Domy</option>

</select>


    </td>
  </tr>

  <tr>
    <th><label for="id_rooms">Rooms:</label></th>
    <td>

      <input type="number" name="rooms" value="1" id="id_rooms">


    </td>
  </tr>

  <tr>
    <th><label for="id_date_created">Date created:</label></th>
    <td>

      <input type="text" name="date_created" value="01.12.2022 18:01:14" required id="id_date_created">
      <input type="hidden" name="initial-date_created" value="2022-12-01 18:01:14" id="initial-id_date_created">


    </td>
  </tr>

  <tr>
    <th><label for="id_user">User:</label></th>
    <td>

      <select name="user" required id="id_user">
  <option value="">---------</option>

  <option value="1">admin</option>

  <option value="2" selected>Mario</option>

  <option value="3">MrMario108</option>

</select>




    </td>
  </tr>