.registration{
  margin-bottom: 20px;
  margin-top: 10px;
}

.savedSearches{
  margin-bottom: 20px;
  margin-top: 10px;
}

.input-form{
  max-width: 350px;
  padding: 10px;
  
}
.input-form-parent{
  justify-content:center;
  display: flex;

}

.shadow{
  -webkit-box-shadow: -28px 30px 29px 17px rgba(66, 68, 90, 1);
-moz-box-shadow: -28px 30px 29px 17px rgba(66, 68, 90, 1);
box-shadow: -28px 30px 29px 17px rgba(66, 68, 90, 1);
}