{% extends "olxSearch/base.html" %}
{%load crispy_forms_tags %}
{% block title %}Zmiana hasła{% endblock %}
{% block content %}

    <div class="pad-left-res bg-light border rounded-3">
        <h1>Zmiana hasła</h1>
    </div>
    <p></p>
    <div class="pad-left-res bg-light border rounded-3">
        <p>Wypełnij poniższy formularz, aby zmienić hasło.</p>
        <form action="." method="post">
            {{ form | crispy }}
            <p></p>
            <p><input type="submit" value="Zmień"></p>
            {% csrf_token %}
        </form>
{% endblock %}