{% extends "olxSearch/base.html" %}

{%load crispy_forms_tags %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
    <div class="pad-left-res bg-light border rounded-3">
        <h1>Zapomniałeś hasła?</h1>
    </div>
    <p></p>
    <div class="pad-left-res bg-light border rounded-3">
        <p>Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
        <form action="." method="post">
            {{ form | crispy }}
            <p></p>
            <p><input type="submit" value="Wyślij e-mail"></p>
            {% csrf_token %}
        </form>
{% endblock %}